.start-reset-button{
    border-radius:10px;
    background-color: aqua;
    color:black;
    height : 35px;
    width : 105px;
    font-weight:bold;
    font-size:14px;
    border-width:2px;
    font-family: cursive;
    margin:12px;
}

.btn-1{
    border-radius:10px;
    background-color:yellow;
    color:black;
    height : 100px;
    width : 105px;
    font-weight:bolder;
    font-size:30px;
    border-width:0px;
    font-family: cursive;
    margin:5px;
}

.game-head{
    font-size: 50px;
    color:rgb(235, 26, 3);
    font-family:'Courier New', Courier, monospace;
}

.winner{
    font-size:50px;
    font-family:'Times New Roman', Times, serif;
    color:chartreuse;
}

.bkgrnd{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    height:100vh;
    background-size: cover;
}